@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "font-raleway", sans-serif;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.swiper-button-next,
.swiper-button-prev {
  top: unset !important;
  left: unset !important;
  right: 0 !important;
  bottom: 0 !important;
  width: auto !important;
}

.swiper-button-next {
  width: 100px;
  height: 100px;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 43px;
  background: var(--Grey-15, #262626);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 59px;
  background: var(--Orange-75, #ffae80);
}
